body
{
    padding: 0px;
    
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	font-style: normal;
	font-family: "Cuprum", sans-serif;
    
    background-color: #ffffff;
}

body a
{
	text-decoration: none;
	color: #ffffff;
}

.container
{
    width: 940px;
    margin: 0 auto;
    padding: : 0 10px;
}

.clearfix::after
{
    content: "";
    
    display: table;
    clear: both;
}

.main-header
{
    margin-bottom: 60px;
    
	background-color: #f1f5f7;
}

.header-top
{
    margin-bottom: 46px;
    
	background-color: #293449;
}

.header-middle
{
    margin-bottom: 42px;
}

.header-bottom
{
    padding-bottom: 65px;
}

.logo
{
    float: left;
    width: 220px;
    
	background-color: #ee3643;
}

.logo a
{
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;
}

.search
{
    float: left;
}

.shop-links
{
    float: right;
}

.main-menu
{
	background-color: #32425c;
}

.main-menu li
{
    display: inline-block;
}

.category
{
    float: left;
    width: 300px;
    height: 123px;
    margin-bottom: 20px;
}

.category:nth-child(-n+2)
{
    margin-right: 20px;
}

.category-view
{
    float: right;
}

.slider
{
    float: left;
    width: 620px;
    height: 266px;
    margin-right: 20px;
    
    background-image: url(../img/slider/slider-bg-1.jpg);
	background-repeat: no-repeat;
}



.block-header
{
    margin-bottom: 20px;
    
	background-color: #f7f3ec;
}

.block-header-title
{
    float:left;
    margin: 0;
    padding: 30px;
    
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
}

.block-header-btn
{
    float: right;
    
	background-color: #ee3643;
}



.product
{
    float: left;
    width: 218px;
    height: 316px;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
    margin-right: 20px;    
    
    text-align: center;
}

.product:last-child
{
    margin-right: 0px;
}

.product-name
{
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	font-family: "PT Sans", sans-serif;
}

.product-price-old
{
	font-size: 17px;
	line-height: 18px;
	color: #999999;
	font-weight: bold;
	text-decoration: line-through;
	font-family: "PT Sans", sans-serif;
}



.brand
{
    float: left;
    width: 218px;
    height: 143px;
    border: 1px solid #e5e5e5;
    margin-bottom: 20px;
    margin-right: 20px;
    
    text-align: center;
}

.brand:nth-child(4n)
{
     margin-right: 0px;
}



.services
{
	background-color: #f2f6f8;
}



.info-company
{
    float: left;
    width: 620px;
}

.info-contacts
{
    float: right;
    width: 300px;
}



.main-footer
{
	background-color: #32425c;
	color: #f1f5f7;
	font-size: 18px;
	line-height: 24px;
}

.footer-top
{
    margin-bottom: 35px;
}

.footer-logo
{
    float: left;
    width: 220px;
    height: 63px;
    
    text-align: center;
    color: #ffffff;
    
    background-color: #ee3643;
}

.footer-menu
{
    float: right;
}

.footer-menu li
{
    display: inline-block;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0;
}

.footer-menu li:last-child
{
    padding: 0;
}

.footer-menu a
{
	color: #f1f5f7;
}



.footer-middle
{
    
}

.footer-contacts
{
    float: left;
    width: 380px;
}

.footer-menu-categories
{
    float: right;
    width: 560px;
}

.footer-menu-categories li
{
    display: inline-block;
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0;
}

.footer-menu-categories li:last-child
{
    padding: 0;
}

.footer-menu-categories a
{
	color: #ffd180;
}

.footer-bottom
{
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
    
    background-color: #293449;
}



.fill-blue
{
	background-color: #4aafde;
}

.fill-green
{
	background-color: #85d179;
}

.fill-purple
{
	background-color: #cc79d1;
}

.fill-yellow
{
	background-color: #f6b22d;
}
